---
import users from './users.json';
import UserCard from '../user-card/index.astro';
---

<div class="users-list">
    {users.map((user, idx) => <UserCard index={idx} groupName={user.groupName} title={user.title} info={user.info} iconName={user.icon} />)}
</div>

<style>
    .users-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
    }
</style>