---
import { type NavItemProps } from '@types/common';
import globalStyles from './global.css?raw';

interface Props {
  title: string;
  activeMenuItem: string;
}

const { title, activeMenuItem } = Astro.props;

import { Navigation } from '@components/common/Navigation';
const navItems: Array<NavItemProps> = [
  {
    href: '',
    anchor: 'ds-info',
    label: 'Дизайн-система',
    children: [
      {
        href: '',
        anchor: 'abilities',
        label: 'Возможности',
      },
      {
        href: '',
        anchor: 'team',
        label: 'Команда',
      },
      {
        href: '',
        anchor: 'products',
        label: 'Наши продукты',
      },
      {
        href: '',
        anchor: 'platforms',
        label: 'Платформы',
      },
    ],
  },
  {
    href: `users`,
    anchor: `users`,
    label: 'Пользователи',
    children: [
      {
        href: 'users',
        anchor: 'designers',
        label: 'Дизайнеры',
      },
      {
        href: 'users',
        anchor: 'developers',
        label: 'Разработчики',
      },
      {
        href: 'users',
        anchor: 'business',
        label: 'Бизнес',
      },
    ],
  },
  {
    href: `library`,
    label: 'Библиотека',
    children: [
      {
        href: 'library',
        anchor: 'fonts',
        label: 'Шрифт',
      },
      {
        href: 'library',
        anchor: 'palette',
        label: 'Палитра',
      },
      {
        href: 'library',
        anchor: 'icons',
        label: 'Иконки',
      },
      {
        href: 'library',
        anchor: 'accessibility',
        label: 'Доступность',
      },
      {
        href: 'library',
        anchor: 'castomizing',
        label: 'Кастомизация',
      }
    ]
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <base href={import.meta.env.BASE_URL} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!--<link rel="icon" type="image/svg+xml" href="favicon.svg" />-->
    <link rel="icon" type="mage/png" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation navItems={navItems} defaultActive={activeMenuItem} client:visible />
    <slot />
  </body>
</html>
<style is:global set:html={globalStyles}></style>
