---
import globalStyles from './global.css?raw';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  activeMenuItem: string;
}

const { title, activeMenuItem } = Astro.props;

import { NavigationPane } from '@components/common/NavigationPane';
import type { NavigationItem } from '@components/molecules';
const navItems: Array<NavigationItem> = [
  {
    href: '',
    anchor: 'ds-info',
    label: 'Дизайн-система',
    children: [
      {
        anchor: 'abilities',
        label: 'Возможности',
      },
      {
        anchor: 'team',
        label: 'Команда',
      },
      {
        anchor: 'products',
        label: 'Наши продукты',
      },
      {
        anchor: 'platforms',
        label: 'Платформы',
      },
    ],
  },
  {
    href: `users`,
    anchor: `users`,
    label: 'Пользователи',
    children: [
      {
        anchor: 'designers',
        label: 'Дизайнеры',
      },
      {
        anchor: 'developers',
        label: 'Разработчики',
      },
      {
        anchor: 'business',
        label: 'Бизнес',
      },
    ],
  },
  {
    href: `library`,
    anchor: `library`,
    label: 'Библиотека',
    children: [
      {
        anchor: 'fonts',
        label: 'Шрифт',
      },
      {
        anchor: 'palette',
        label: 'Палитра',
      },
      {
        anchor: 'icons',
        label: 'Иконки',
      },
      {
        anchor: 'accessibility',
        label: 'Доступность',
      },
      {
        anchor: 'customizing',
        label: 'Кастомизация',
      },
    ],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <base href={import.meta.env.BASE_URL} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!--<link rel="icon" type="image/svg+xml" href="favicon.svg" />-->
    <link rel="icon" type="mage/png" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <NavigationPane items={navItems} active={activeMenuItem} client:visible />
    <slot />
    <style is:global set:html={globalStyles}></style>
  </body>
</html>
